# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [162]:
import selenium
import pandas as pd
from selenium import webdriver
import time

In [2]:
# Connecting the browser to webdriver
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
# Entering url
url="https://www.naukri.com/"

In [4]:
# Getting url
driver.get(url)

In [5]:
# Enter “Data Analyst” in “Skill,Designations,Companies” field 
job_search=driver.find_element_by_id('qsb-keyword-sugg')
job_search.send_keys("Data Analyst")

In [6]:
# Enter “Bangalore” in “enter the location” field 
location_search=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
location_search.send_keys("Bangalore")

In [7]:
# Clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()
time.sleep(5)

In [8]:
# Scraping the data for the first 10 jobs results.
job_titles=[]
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]
for i in title_tags:
    job_titles.append(i.text)
    
company_names=[]
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]
for i in company_tags:
    company_names.append(i.text)
        
experience_list=[]
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")[:10]
for i in exp_tags:
    experience_list.append(i.text)
        
salary_list=[]
sal_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']/span")[:10]
for i in sal_tags:
    salary_list.append(i.text)
        
locations_list=[]
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")[:10]
for i in loc_tags:
    locations_list.append(i.text)
        
jobs=pd.DataFrame({})
jobs['job_titles']=job_titles
jobs['company_names']=company_names
jobs['locations_list']=locations_list
jobs['experience_list']=experience_list
jobs['salary_list']=salary_list
driver.close()

In [9]:
jobs

,job_titles,company_names,locations_list,experience_list,salary_list
0,Business Analyst/ Data Analyst/ MIS Executive ...,Schneider Electric,Bengaluru / Bangalore,2-5 Yrs,Not disclosed
1,Data Scientist/Data Analyst-immediate,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",0-3 Yrs,"3,50,000 - 4,50,000 PA."
2,Data Analyst,Applied Materials,Bengaluru,6-11 Yrs,Not disclosed
3,Data Analyst,Cognizant Technology Solutions India Pvt Ltd,"Mumbai, Bengaluru, Hyderabad",2-3 Yrs,Not disclosed
4,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bengaluru,2-7 Yrs,Not disclosed
5,Data Analyst,Cognizant Technology Solutions India Pvt Ltd,"Bengaluru, Kolkata",3-4 Yrs,Not disclosed
6,Data Analyst,Shell India Markets Private Limited,Bengaluru,5-8 Yrs,Not disclosed
7,Data Analyst - O2C - Bangalore,RANDSTAD INDIA PVT LTD,Bengaluru,2-4 Yrs,"3,25,000 - 4,50,000 PA."
8,Business Data Analyst - Database Design/Mining,AugmatrixGo,Bengaluru,2-5 Yrs,Not disclosed
9,Data Analyst - MySQL/PostgreSQL,Astegic,"Pune, Mumbai, Bengaluru, Hyderabad, Noida, Jaipur",5-10 Yrs,Not disclosed

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- 1. All of the above steps have to be done in code. No step is to be done manually.

In [97]:
# Connecting the browser to webdriver
driver=webdriver.Chrome(r"chromedriver.exe")

In [98]:
# Entering url
url="https://www.naukri.com/"

In [99]:
# Getting url
driver.get(url)

In [100]:
# Entering “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_location=driver.find_element_by_id('qsb-location-sugg')
search_field_designation.send_keys("Data Scientist")
search_field_location.send_keys("Bangalore")

In [101]:
# Clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [102]:
# Creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
full_job_description=[]

In [103]:
# Scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
    
job_title[0:4]

['Data Scientist/Data Analyst-immediate',
 'HCL hiring Data scientist with exp in machine learning &SQL-Bangalore!',
 'Data Scientist - Machine Learning',
 'Data Scientist - Machine Learning']

In [104]:
# Scraping the company_name  
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:4]

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'HCL Technologies Limited',
 'AugmatrixGo',
 'BLUE YONDER INDIA PRIVATE LIMITED']

In [106]:
# Scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
job_location[0:4]

['Chennai, Pune, Bengaluru, Hyderabad', 'Bengaluru', 'Bengaluru', 'Bengaluru']

In [107]:
job_description=[]

In [108]:
# Scraping the full job-description, for scraping full job description we have to go in each of the jobs separately...
urls=[i.get_attribute("href") for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]
for url in urls[0:10]:
    try:        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text
        description=raw_description.replace("Contact Person","@@@@@")
        description= description.split("@@@@@")
        job_description.append(description[0])
    except NoSuchElementException :
        job_description.append("---")

In [109]:
# Creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"job_title":job_title[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_description":job_description[0:10]})
df.head(10)

,job_title,company_name,job_location,job_description
0,Data Scientist/Data Analyst-immediate,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",Dear Candidate\n\nSchedule a Telephonic Interv...
1,HCL hiring Data scientist with exp in machine ...,HCL Technologies Limited,Bengaluru,"Dear Candidate,\n\nGreetings from HCL!!!\nWe a..."
2,Data Scientist - Machine Learning,AugmatrixGo,Bengaluru,Roles and Responsibilities\n\n\n- Selecting fe...
3,Data Scientist - Machine Learning,BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,---
4,Data Scientist - Machine Learning,BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,---
5,Senior Associate - Data Scientist/ML Engineer,Pricewaterhouse Coopers Private Limited,Bengaluru,Day-to-Day Responsibilities\nDesign and develo...
6,Senior Data Scientist,Philips India Limited,Bengaluru,"Job Description\nAt Philips, data is in the ce..."
7,Data Scientist - Machine Learning - Remote Wor...,Doji Ltd,"Delhi NCR, Bengaluru, Anywhere in India",Please note that this role will be Remote / Ho...
8,Software Developer - Data Scientist / NLP / Ma...,Cunesoft India Private Limited,Bengaluru / Bangalore,Roles and Responsibilities\nWe are looking for...
9,Sr. Data Scientist,NetApp,Bengaluru,---

In [111]:
driver.close()

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [145]:
# Connecting the browser to webdriver.
driver=webdriver.Chrome(r"chromedriver.exe")

In [146]:
# Opening Naukri.com website.
driver.get("https://www.naukri.com/")

In [147]:
# Entering “Data Scientist” in “Skill,Designations,Companies” field.
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_designation.send_keys("Data Scientist")

In [148]:
# Clicking the search button.
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [149]:
# Creating empty lists for scraping data.
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [150]:
# Finding the location check box of 'Delhi/NCR'.
loc=driver.find_element_by_xpath("//span[@title='Delhi/NCR']")

# Clicking the check box
loc.click()

In [151]:
# Finding the salary check box and clicking on salary of 3-6 Lakhs.
loc=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")

# Clicking the check box
loc.click()

In [154]:
# Scraping the company_name 
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name

['Jubna',
 'tech mahindra ltd',
 'Air Asia India Limited',
 'Amity University',
 'Talent Acceleration Corridor',
 'Aerial Telecom Solutions Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'Delhivery',
 'Eighteen Pixels India Private Limited',
 'HyreFox Consultants Pvt Ltd',
 'HyreFox Consultants Pvt Ltd',
 'GABA Consultancy services',
 'iNICU',
 'Sentieo',
 'Mahajan Imaging',
 'Mahajan Imaging',
 'TalPro',
 'World Wide Technology',
 'T & A Solutions',
 'itForte Staffing Services Private Ltd.']

In [155]:
# Scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
job_location[0:4]

['Noida', 'Noida', 'Delhi NCR, Gurgaon', 'Faridabad, Delhi NCR, Ghaziabad']

In [156]:
# Scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
    
job_title[0:4]

['Data Scientist - Python/Machine Learning',
 'Tech Mahindra hiring For Data Scientist- Noida',
 'Data Scientist - Commercial Planning and Analysis',
 'Data Scientist']

In [157]:
# Scraping the experience_required 
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)
experience_required[0:4]

['5-8 Yrs', '5-10 Yrs', '1-6 Yrs', '6-8 Yrs']

In [158]:
# creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"job_title":job_title[0:10],"job_location":job_location[0:10],"company_name":company_name[0:10],"experience_required":experience_required[0:10]})
df.head(10)

,job_title,job_location,company_name,experience_required
0,Data Scientist - Python/Machine Learning,Noida,Jubna,5-8 Yrs
1,Tech Mahindra hiring For Data Scientist- Noida,Noida,tech mahindra ltd,5-10 Yrs
2,Data Scientist - Commercial Planning and Analysis,"Delhi NCR, Gurgaon",Air Asia India Limited,1-6 Yrs
3,Data Scientist,"Faridabad, Delhi NCR, Ghaziabad",Amity University,6-8 Yrs
4,Data Scientist - Machine Learning/ Artificial ...,"Delhi/NCR Delhi NCR, Noida",Talent Acceleration Corridor,6-11 Yrs
5,GCP Skilled Analytics Resources (Data engineer...,"Pune, Bengaluru, Gurgaon",Aerial Telecom Solutions Pvt. Ltd.,3-8 Yrs
6,Data Scientist,Gurgaon Gurugram,IBM India Pvt. Limited,3-5 Yrs
7,Data Scientist Machine Learning,Gurgaon,Delhivery,1-3 Yrs
8,Data Scientist,Delhi NCR,Eighteen Pixels India Private Limited,2-6 Yrs
9,Business Analyst - Data Scientist,Gurgaon,HyreFox Consultants Pvt Ltd,3-5 Yrs

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [169]:
def glassdoor(url):
    chrome_options = webdriver.ChromeOptions()
    chrome_options.add_argument("--incognito")

    driver = webdriver.Chrome(options=chrome_options)
    driver.get(url)
    
    # Sign in Option
    sign_in=driver.find_element_by_xpath("//div[@class='locked-home-sign-in']/a")
    url=sign_in.get_attribute('href')
    driver_2=webdriver.Chrome(options=chrome_options)
    driver_2.get(url)
    time.sleep(5)
    email=driver_2.find_element_by_id('userEmail')
    email.send_keys('demo15121991@gmail.com')
    passw=driver_2.find_element_by_id('userPassword')
    passw.send_keys('demo@567')
    sign_in_button=driver_2.find_element_by_xpath("//div/button[@class='gd-ui-button minWidthBtn css-8i7bc2']")
    sign_in_button.click()
    time.sleep(5)
    driver.close()
    
    # searching required fields
    job_search=driver_2.find_element_by_id('sc.keyword')
    job_search.send_keys('Data Scientist')
    
    location=driver_2.find_element_by_id('sc.location')
    from selenium.webdriver.common.keys import Keys
    location.send_keys(Keys.CONTROL + "a")
    location.send_keys(Keys.DELETE)
    location.send_keys('Noida')
    
    search_button=driver_2.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
    search_button.click()
    time.sleep(5)
    
    company_name=[]
    days_posted=[]
    rating=[]
    
    # Company and days are available but for ratings need to open in new window as some are absent/missing
    # Opening new window
    from selenium.common.exceptions import NoSuchElementException         # Importing Exception
    new_page=driver_2.find_elements_by_xpath("//div[@class='jobHeader d-flex justify-content-between align-items-start']/a")[:10]
    
    for i in new_page:
        url=i.get_attribute('href')
        driver_3=webdriver.Chrome(options=chrome_options)
        driver_3.get(url)
        time.sleep(5)
        try:
            a=driver_3.find_element_by_xpath("//span[@class='css-1pmc6te e11nt52q4']")
            rating.append(a.text.replace('\n★',''))
        except NoSuchElementException as e:
            rating.append("No Rating")
        driver_3.close() 
        
    comps=driver_2.find_elements_by_xpath("//div[@class='jobHeader d-flex justify-content-between align-items-start']/a/span")[:10]
    for i in comps:
        company_name.append(i.text)
        
    days=driver_2.find_elements_by_xpath("//div[@data-test='job-age']")[:10]
    for i in days:
        days_posted.append(i.text)
         
    jobs=pd.DataFrame({})
    jobs['company_names']=company_name
    jobs['days_posted']=days_posted
    jobs['rating']=rating
    
    driver_2.close()
    
    return(jobs)

In [170]:
df=glassdoor('https://www.glassdoor.co.in/index.htm')
df

                            company_names days_posted rating
0                                 Genpact          9d    3.8
1                      UnitedHealth Group          1d    3.5
2      Builder.ai - What would you Build?         24d    3.6
3                                Brickred         24h    3.7
4  Terra Economics & Analytics Lab (TEAL)         10d    4.9
5                         abc consultants          9d    4.2
6                         Priority Vendor          8d    4.0
7                               Algoscale          8d    3.7
8                          Biz2Credit Inc         17d    3.7
9                    Gauge Data Solutions          8d    3.1

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually.

In [179]:
def glassdoor_2(url):
    chrome_options = webdriver.ChromeOptions()
    chrome_options.add_argument("--incognito")

    driver = webdriver.Chrome(options=chrome_options)
    driver.get(url)
     
    # searching required fields
    job_search=driver.find_element_by_id('KeywordSearch')
    job_search.send_keys('Data Scientist')
    
    location=driver.find_element_by_id('LocationSearch')
    location.clear()
    location.send_keys('Noida')
        
    search_buton=driver.find_element_by_id("HeroSearchButton")
    search_buton.click()
    time.sleep(5)
    
    comp=[]
    number_of_salaries=[]
    avg_salary=[]
    min_salary=[]
    max_salary=[]
    
    a=driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")[:10]
    for i in a:
        comp.append(i.text)
        
    a=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")[:10]
    for i in a:
        avg_salary.append(i.text)
        
    a=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")[:10]
    for i in a:
        min_salary.append(i.text)
        
    a=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")[:10]
    for i in a:
        max_salary.append(i.text)
         
    jobs=pd.DataFrame({})
    jobs['company_names']=comp
    jobs['avg_salary']=avg_salary
    jobs['min_salary']=min_salary
    jobs['max_salary']=max_salary
    
    driver.close()
    
    return(jobs)

In [180]:
df=glassdoor_2('https://www.glassdoor.co.in/Salaries/index.htm')
df

                    company_names   avg_salary min_salary max_salary
0                       Delhivery  ₹ 12,81,419      ₹456K   ₹11,789K
1                       Accenture   ₹ 9,98,925      ₹585K    ₹2,200K
2              Ericsson-Worldwide   ₹ 7,90,026      ₹420K    ₹1,636K
3       Tata Consultancy Services   ₹ 6,02,000      ₹336K    ₹1,024K
4                             IBM   ₹ 7,71,657      ₹595K    ₹2,769K
5              UnitedHealth Group  ₹ 12,22,902      ₹727K    ₹1,597K
6              Valiance Solutions   ₹ 7,91,015      ₹509K    ₹1,168K
7                      Innovaccer  ₹ 12,15,138      ₹629K    ₹1,719K
8  Cognizant Technology Solutions  ₹ 10,21,889      ₹804K    ₹1,281K
9                   ZS Associates  ₹ 10,00,000      ₹205K    ₹1,835K

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it.
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.
Note that all of the above steps have to be done by coding only and not manually.

In [185]:
def flipkart_100(url):
    chrome_options = webdriver.ChromeOptions()
    chrome_options.add_argument("--incognito")

    driver = webdriver.Chrome(options=chrome_options)
    driver.get(url)
    
    #Closing Pop-up
    close_button=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
    close_button.click()    
    
    
    # searching required fields
    search=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
    search.send_keys('sunglasses')
    
    search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
    search_button.click()
    time.sleep(5)
    
    brand=[]
    Product_description=[]
    price=[]
    discount=[]
    
    def extract(driver,number):
                
        a=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")[:number]
        for i in a:
            brand.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")[:number]
        for i in a:
            Product_description.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div/div[1]")[:number]
        for i in a:
            price.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div/div[3]")[:number]
        for i in a:
            discount.append(i.text)
    
    while(len(discount)<40):
        extract(driver,40)
        
    while(len(discount)<80):
        next=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
        driver_2=webdriver.Chrome(options=chrome_options)
        url=next.get_attribute('href')
        driver_2.get(url)
        extract(driver_2,40)
    
    while(len(discount)<100):
        next=driver_2.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
        driver_3=webdriver.Chrome(options=chrome_options)
        url=next.get_attribute('href')
        driver_3.get(url)
        extract(driver_3,20)  
    
    jobs=pd.DataFrame({})
    jobs['brand']=brand
    jobs['Product_description']=Product_description
    jobs['price']=price
    jobs['discount']=discount
    
    driver.close()
    driver_2.close()
    driver_3.close()
    
    return(jobs)

In [186]:
df=flipkart_100('https://www.flipkart.com/')
df

,brand,Product_description,price,discount
0,Royal Son,Mirrored Aviator Sunglasses (55),₹351,76% off
1,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹527,73% off
2,Riffko,UV Protection Wayfarer Sunglasses (55),₹170,85% off
3,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",₹199,84% off
4,shah collections,"UV Protection, Polarized, Mirrored Rectangular...",₹219,78% off
...,...,...,...,...
95,MGKNYAH,"UV Protection Round, Aviator Sunglasses (Free ...",₹152,74% off
96,Gansta,"UV Protection, Gradient Wayfarer Sunglasses (53)",₹269,86% off
97,Scaglia,UV Protection Aviator Sunglasses (58),₹160,73% off
98,shadz,UV Protection Round Sunglasses (50),₹104,89% off
99,Azmani,UV Protection Wayfarer Sunglasses (53),₹299,66% off

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.
As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [196]:
def flipkart_reviews(url):

    chrome_options = webdriver.ChromeOptions()
    chrome_options.add_argument("--incognito")

    driver_1 = webdriver.Chrome(options=chrome_options)
    driver_1.get(url)
    
    # Opening full reviews
    full=driver_1.find_element_by_xpath("//div[@class='col JOpGWq']/a")
    driver=webdriver.Chrome(options=chrome_options)
    url=full.get_attribute('href')
    driver.get(url)
    driver_1.close()
       
    rating=[]
    review_summary=[]
    full_review=[]
    
    def extract(driver):
                
        a=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for i in a:
            rating.append(i.text)

        a=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        for i in a:
            review_summary.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
        for i in a:
            full_review.append(i.text)
    
    while(len(full_review)<10):
        extract(driver)
        
    while(len(full_review)<100):
        next=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
        driver=webdriver.Chrome(options=chrome_options)
        url=next.get_attribute('href')
        driver.get(url)
        extract(driver)  
    
    jobs=pd.DataFrame({})
    jobs['rating']=rating
    jobs['review_summary']=review_summary
    jobs['full_review']=full_review
    
    driver.close()

    return(jobs)

In [197]:
df=flipkart_reviews('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')
df

,rating,review_summary,full_review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
...,...,...,...
95,5,Highly recommended,It's my first time to use iOS phone and I am l...
96,5,Terrific purchase,The built quality is not very premium.\nThe ba...
97,5,Mind-blowing purchase,First thanks to Flipkart for this amazing deal...
98,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
99,5,Wonderful,I just directly switch from iphone 6s to iphon...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.
Also note that all the steps required during scraping should be done through code only and not manually.

In [205]:
def flipkart_100_sneakers(url):
    chrome_options = webdriver.ChromeOptions()
    chrome_options.add_argument("--incognito")

    driver = webdriver.Chrome(options=chrome_options)
    driver.get(url)
    
    #Closing Pop-up
    close_button=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
    close_button.click()    
    
    
    # searching required fields
    search=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
    search.send_keys('sneakers')
    
    search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
    search_button.click()
    time.sleep(5)
    
    brand=[]
    des=[]
    price=[]
    discount=[]
    
    def extract(driver,number):
                
        a=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")[:number]
        for i in a:
            brand.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")[:number]
        for i in a:
            des.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div/div[1]")[:number]
        for i in a:
            price.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div/div[3]")[:number]
        for i in a:
            discount.append(i.text)
    
    while(len(discount)<40):
        extract(driver,40)
        
    while(len(discount)<80):
        next=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
        driver_2=webdriver.Chrome(options=chrome_options)
        url=next.get_attribute('href')
        driver_2.get(url)
        extract(driver_2,40)
    
    while(len(discount)<100):
        next=driver_2.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
        driver_3=webdriver.Chrome(options=chrome_options)
        url=next.get_attribute('href')
        driver_3.get(url)
        extract(driver_3,20)  
    
    jobs=pd.DataFrame({})
    jobs['brand']=brand[:100]
    jobs['des']=des[:100]
    jobs['price']=price[:100]
    jobs['discount']=discount[:100]
    
    return(jobs)

In [206]:
df=flipkart_100_sneakers('https://www.flipkart.com/')
df

,brand,des,price,discount
0,Red Tape,Sneakers For Men,"₹1,258",70% off
1,Bond Street By Red Tape,Men Casual Sneakers For Men,"₹1,048",70% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹499,75% off
3,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹499,75% off
4,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹378,62% off
...,...,...,...,...
95,Swiggy,"Casual Loafers, Sneakers Shoes for Men Pack of...",₹759,28% off
96,BUCIK,Sneakers For Men,₹449,58% off
97,Red Rose,Sneakers For Men,₹359,70% off
98,Fila,JESS Sneakers For Men,"₹1,359",59% off
99,Lotto,ATLANTA NEO Sneakers For Men,₹599,75% off

# Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.
Please note that applying the filter and scraping the data , everything should be done through code only and there should not be any manual step.

In [207]:

def myntra(url):
    chrome_options = webdriver.ChromeOptions()
    chrome_options.add_argument("--incognito")

    driver = webdriver.Chrome(options=chrome_options)
    driver.get(url)


    price=driver.find_element_by_xpath("//ul[@class='price-list']/li[2]/label/div")
    price.click()
    time.sleep(5)
    
    color=driver.find_element_by_xpath("//li[@class='colour-listItem']/label/div")
    color.click()
    time.sleep(5)
    
    brand=[]
    des=[]
    price=[]
    
    def extract_2(driver,number):
                
        a=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")[:number]
        for i in a:
            brand.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4[1]")[:number]
        for i in a:
            des.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/div/span[1]")[:number]
        for i in a:
            price.append(i.text)

    
    while(len(price)<50):
        extract_2(driver,50)
        
    while(len(price)<100):
        next=driver.find_element_by_xpath("//li[@class='pagination-next']/a")
        driver_2=webdriver.Chrome(options=chrome_options)
        url=next.get_attribute('href')
        driver_2.get(url)
        extract_2(driver_2,50) 
    
    jobs=pd.DataFrame({})
    jobs['brand']=brand
    jobs['des']=des
    jobs['price']=price
    
    driver.close()
    driver_2.close()
    
    return(jobs)

In [208]:
df=myntra('https://www.myntra.com/shoes')
df

                   brand                             des               price
0                   Nike       Men ZOOM Basketball Shoes   Rs. 8199Rs. 10295
1                   Nike        Men LEGEND REACT 3 Shoes    Rs. 6199Rs. 8295
2              Cole Haan           Women Leather Loafers   Rs. 6499Rs. 12999
3                   Nike          Men Zoom Running Shoes    Rs. 6399Rs. 7995
4                   Nike    Men ZOOM FLY 3 Running Shoes  Rs. 11199Rs. 13995
..                   ...                             ...                 ...
95                  Xtep               Men Running Shoes    Rs. 5839Rs. 7299
96             Cole Haan     Women Woven Design Sneakers  Rs. 11249Rs. 14999
97  Heel & Buckle London      Men Leather Formal Oxfords   Rs. 7143Rs. 10990
98                  FILA          Women Printed Sneakers            Rs. 7999
99          UNDER ARMOUR  Women Charged Bandit 5 Running            Rs. 7999

[100 rows x 3 columns]

# Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
WEB SCRAPING ASSIGNMENT-2
.
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [215]:
def amazon(url):
    chrome_options = webdriver.ChromeOptions()
    chrome_options.add_argument("--incognito")
    
    driver = webdriver.Chrome(options=chrome_options)
    driver.get(url)
    
    search_box=driver.find_element_by_id('twotabsearchtextbox')
    search_box.send_keys('laptop')

    button=driver.find_element_by_xpath("//div[@class='nav-right']")
    button.click()
    time.sleep(5)

    cpu_1=driver.find_element_by_xpath("//div[@id='filters']/ul/li[@aria-label='Intel Core i7']/span/a/div")
    cpu_1.click()

    from selenium.common.exceptions import StaleElementReferenceException        # Importing Exception
    from selenium.webdriver.support.ui import WebDriverWait
    from selenium.webdriver.support import expected_conditions as EC
    from selenium.webdriver.common.by import By

    try:
        cpu_2=driver.find_element_by_xpath("//div[@id='filters']/ul/li[@aria-label='Intel Core i9']/span/a/div")
        cpu_2.click()
    except StaleElementReferenceException as e:
        driver.get('https://www.amazon.in/')
        search_box=driver.find_element_by_id('twotabsearchtextbox')
        search_box.send_keys('laptop')
        button=driver.find_element_by_xpath("//div[@class='nav-right']")
        button.click()
        WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, 'filters')))
        cpu_2=driver.find_element_by_xpath("//div[@id='filters']/ul/li[@aria-label='Intel Core i9']/span/a/div")
        cpu_2.click()
    
    title=[]

    a=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")[:10]
    for i in a:
        title.append(i.text)

    rating=[]

    a=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span/span/a/i/span")[:10]
    for i in a:
        rating.append(i.text)

    price=[]

    a=driver.find_elements_by_xpath("//span[@class='a-price-whole']")[:10]
    for i in a:
        price.append(i.text)
        
    jobs=pd.DataFrame({})
    jobs['title']=title
    jobs['rating']=rating
    jobs['price']=price
    
    driver.close()
    return(jobs)

In [216]:
df=amazon('https://www.amazon.in/')
df

                                               title rating   price
0  HP Pavilion x360 Core i7 8th Gen 14-inch Touch...         82,490
1  Mi Notebook Horizon Edition 14 Intel Core i7-1...         57,999
2  Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...         97,700
3  (Renewed) MSI Prestige PE62 Core i7 7th Gen 15...         57,990
4  Lenovo IdeaPad Gaming 3i 10th Gen Intel Core i...         74,990
5  (Renewed) ASUS ROG Strix G G531GT-AL018T 15.6"...         69,990
6  ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...         77,990
7  Mi Notebook Horizon Edition 14 Intel Core i5-1...         51,999
8  ASUS TUF Gaming F15, 15.6" FHD 144Hz, Intel Co...         80,990
9  Acer Nitro 5 Intel Core i7 10750H 15.6" FHD IP...         78,990