# Assignment no. 7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [1]:
# importing the required libraries
from bs4 import BeautifulSoup
import requests

In [2]:
page=requests.get("https://www.amazon.in/Mobile-Phone-Under-20000-Rupees/s?k=Mobile+Phone+Under+20000+Rupees")

In [3]:
soup=BeautifulSoup(page.content,'html.parser')

In [4]:
products=[]
prices=[]
images=[]
ratings=[]

In [5]:
product=soup.find_all('span',class_='a-size-medium a-color-base a-text-normal')
for i in product:
    products.append(i.text)

In [6]:
len(products)

16

In [7]:
products=product[:15]

In [8]:
price=soup.find_all('span',class_='a-price-whole')
for i in price:
    prices.append(i.text)

In [9]:
len(prices)

16

In [10]:
prices=prices[:15]

In [11]:
image=soup.find_all('div',class_='a-section aok-relative s-image-fixed-height')
for i in image:
    images.append(i.find('img'))

In [12]:
len(images)

16

In [13]:
images=images[:15]

In [14]:
avg_ratings=[]
rating=soup.find_all('span',class_='a-icon-alt')
for i in rating:
    ratings.append(i.text)
# Need to skip first four ratings as they belong to something else
ratings=ratings[4:]
# Extracting first 3 characters of rating
for j in ratings:
    avg_ratings.append(j[0:3])

In [15]:
len(avg_ratings)

15

In [16]:
import pandas as pd
amazon_phones=pd.DataFrame({})
amazon_phones['products']=products
amazon_phones['prices']=prices
amazon_phones['images']=images
amazon_phones['avg_ratings']=avg_ratings

In [17]:
amazon_phones

,products,prices,images,avg_ratings
0,"[Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)]","8,999",[\n],4.0
1,"[Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128G...","16,499",[],4.2
2,"[Redmi 9A (Sea Blue, 3GB Ram, 32GB Storage)]","7,499",[],4.1
3,"[Panasonic Eluga i7 (2GB RAM, 16GB Storage, Fi...","5,000",[],2.9
4,"[Redmi 8A Dual (Sea Blue, 3GB RAM, 32GB Storag...","7,999",[],4.0
5,"[Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB...","5,999",[],3.4
6,"[Redmi Note 9 Pro (Interstellar Black, 4GB RAM...","12,999",[],4.2
7,"[Samsung Galaxy M01 Core (Blue, 2GB RAM, 32GB ...","5,999",[],3.4
8,"[Samsung Galaxy M21 (Raven Black, 4GB RAM, 64G...","13,999",[],4.2
9,"[Samsung Galaxy M01 Core (Black, 1GB RAM, 16GB...","4,999",[],3.4
10,"[Samsung Galaxy M21 (Midnight Blue, 4GB RAM, 6...","13,999",[],4.2
11,"[Samsung Galaxy M31 (Space Black, 6GB RAM, 128...","16,499",[],4.2
12,"[Redmi Note 9 Pro Max (Aurora Blue, 6GB RAM, 6...","15,999",[],4.1
13,"[Redmi 8A Dual (Sky White, 3GB RAM, 64GB Stora...","7,999",[],4.0
14,"[Samsung Galaxy M31s (Mirage Blue, 6GB RAM, 12...","19,499",[],4.3

In [18]:
# Testing if image url is working
amazon_phones['images'][0]

<img alt="Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)" class="s-image" data-image-index="0" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" onload="window.uet &amp;&amp; uet('cf')" src="https://m.media-amazon.com/images/I/71uZrDPrsRL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71uZrDPrsRL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71uZrDPrsRL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71uZrDPrsRL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71uZrDPrsRL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71uZrDPrsRL._AC_UY654_QL65_.jpg 3x">
</img>

# Assignment no. 8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [19]:
page=requests.get("https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.X80BdlUzbIU")

In [20]:
soup=BeautifulSoup(page.content,'html.parser')

In [21]:
periods=[]
short_descriptions=[]
temps=[]
descriptions=[]

In [22]:
period=soup.find_all('p',class_='period-name')
for i in period:
    periods.append(i.text)

In [23]:
periods=periods[:7]

In [24]:
periods

['NOW until9:00pm Sun',
 'Tonight',
 'Monday',
 'MondayNight',
 'Tuesday',
 'TuesdayNight',
 'Wednesday']

In [25]:
short_descriptions=[]
short_description=soup.find_all('p',class_='short-desc')
for i in short_description:
    short_descriptions.append(i.text)

In [26]:
short_descriptions=short_descriptions[:7]

In [27]:
temp=soup.find_all('p',class_='temp')
for i in temp:
    temps.append(i.text)

In [28]:
temps=temps[:7]

In [29]:
description=soup.find_all('div',class_='col-sm-10 forecast-text')
for i in description:
    descriptions.append(i.text)
descriptions=descriptions[:7]

In [30]:
import pandas as pd
weather=pd.DataFrame({})
weather['periods']=periods
weather['short_descriptions']=short_descriptions
weather['temps']=temps
weather['descriptions']=descriptions

In [31]:
weather

,periods,short_descriptions,temps,descriptions
0,NOW until9:00pm Sun,High Surf Warning,Low: 47 °F,"Mostly cloudy, with a low around 47. Northwest..."
1,Tonight,Mostly Cloudy,High: 59 °F,"Mostly sunny, with a high near 59. North wind ..."
2,Monday,Mostly Sunny,Low: 48 °F,"Mostly cloudy, with a low around 48. West wind..."
3,MondayNight,Mostly Cloudy,High: 60 °F,"Mostly cloudy, with a high near 60. Light and ..."
4,Tuesday,Mostly Cloudy,Low: 50 °F,"Mostly cloudy, with a low around 50. West sout..."
5,TuesdayNight,Mostly Cloudy,High: 63 °F,"Mostly cloudy, with a high near 63."
6,Wednesday,Mostly Cloudy,Low: 50 °F,"Mostly cloudy, with a low around 50."

# Assignment no. 9. Write a python program to scrape ‘software developer’ job listings from ‘Monster.com’. It should include all the jobs listed for the next 5 pages.

In [32]:
page=requests.get("https://www.monster.com/jobs/search/?q=Software-Developer&where=india")

In [33]:
soup=BeautifulSoup(page.content,'html.parser')

In [34]:
jobs=[]
Days=[]
Company=[]
Location=[]

In [35]:
job=soup.find_all('h2',class_='title')
for i in job:
    jobs.append(i.text.replace('\r\n',''))

In [36]:
jobs

['Senior Software Engineer - Backend (GoLang/Java) - Bengaluru, Karnataka',
 'Software Engineer - .Net Core & Vue JS - Bangalore, Karnataka',
 'Power BI developer - Remote India',
 'Staff Software Engineer - Consumer Trust -P4',
 'Senior Software Engineer - .Net core & Vue JS - Bangalore, Karnataka',
 'Software Engineer II - Backend (GoLang) - Bengaluru, Karnataka',
 'Senior Software Engineer - Consumer Trust -P3',
 'Staff, Software Engineer (L4)',
 'Software Engineer - .Net - Bangalore, Karnataka',
 'Software Engineer I - C#.net - Bengaluru, Karnataka',
 'Software Engineer (L3)',
 'Senior Software Engineer - (Angular) - Bangalore, Karnataka',
 'Senior Software Engineer - C#.net - Bengaluru, Karnataka',
 'Technical Support Engineer 3 (Developer, EMEA)',
 'Senior Software Engineer - (.Net) - Bangalore, Karnataka',
 'Senior Software Engineer -  Backend (GoLang/Java) - Bengaluru, Karnataka',
 'Software Engineer (Progress 4GL) - Bangalore, Karnataka',
 'Software Engineer',
 'Senior Software Engineer - Fullstack (GoLang/Java + Javascript/React.js) - Bengaluru, Karnataka',
 'Staff Software Engineer',
 'Software Engineer - (.Net) - Bangalore, Karnataka',
 'Senior Software Engineer - IW - Bengaluru, Karnataka',
 'Senior LAMP Developer - Bangalore, Karnataka',
 'Software Engineer - Consumer Trust -P2',
 'Software Engineer - (.Net) - Bangalore, Karnataka']

In [37]:
len(jobs)

25

In [38]:
day=soup.find_all('div',class_='meta flex-col')
for i in day:
    Days.append(i.text.replace('\n','').replace('AppliedSaved',''))

In [39]:
Days

['27 days ago',
 '+30 days ago',
 '2 days ago',
 '6 days ago',
 '+30 days ago',
 '+30 days ago',
 '21 days ago',
 '30 days ago',
 '+30 days ago',
 '+30 days ago',
 '+30 days ago',
 '+30 days ago',
 '+30 days ago',
 '+30 days ago',
 '+30 days ago',
 '+30 days ago',
 '+30 days ago',
 '+30 days ago',
 '+30 days ago',
 '+30 days ago',
 '+30 days ago',
 '+30 days ago',
 '+30 days ago',
 '+30 days ago',
 '+30 days ago']

In [40]:
len(Days)

25

In [41]:
comp=soup.find_all('span',class_='name')
# Even Indices are companies
for i in range(0,len(comp),2):
    Company.append(comp[i].text)

In [42]:
Company

['EagleView Technologies',
 'MRI Software',
 'Matchpoint Solutions',
 'Twilio',
 'MRI Software',
 'EagleView Technologies',
 'Twilio',
 'Twilio',
 'MRI Software',
 'EagleView Technologies',
 'Twilio',
 'MRI Software',
 'EagleView Technologies',
 'Twilio',
 'MRI Software',
 'EagleView Technologies',
 'MRI Software',
 'Twilio',
 'EagleView Technologies',
 'Twilio',
 'MRI Software',
 'EagleView Technologies',
 'MRI Software',
 'Twilio',
 'MRI Software']

In [43]:
len(Company)

25

In [44]:
# Odd Indices are locations
for i in range(1,len(comp),2):
    Location.append(comp[i].text.replace('\r\n',''))

In [45]:
Location

['Bengaluru, KT',
 'Bangalore, KT',
 'Remote',
 'Bengaluru, Karnataka, KT',
 'Bangalore, KT',
 'Bengaluru, KT',
 'Bengaluru, Karnataka, KT',
 'Bengaluru, Karnataka, KT',
 'Bangalore, KT',
 'Bengaluru, KT',
 'Bengaluru, Karnataka, KT',
 'Bangalore, KT',
 'Bengaluru, KT',
 'Bengaluru, Karnataka, KT',
 'Bangalore, KT',
 'Bengaluru, KT',
 'Bangalore, KT',
 'Bengaluru, Karnataka, KT',
 'Bengaluru, KT',
 'Bengaluru, Karnataka, KT',
 'Bangalore, KT',
 'Bengaluru, KT',
 'Bangalore, KT',
 'Bengaluru, Karnataka, KT',
 'Bangalore, KT']

In [46]:
len(Location)

25

In [47]:
import pandas as pd
monster_jobs=pd.DataFrame({})
monster_jobs['jobs']=jobs
monster_jobs['Days']=Days
monster_jobs['Company']=Company
monster_jobs['Location']=Location

In [48]:
monster_jobs

,jobs,Days,Company,Location
0,Senior Software Engineer - Backend (GoLang/Jav...,27 days ago,EagleView Technologies,"Bengaluru, KT"
1,Software Engineer - .Net Core & Vue JS - Banga...,+30 days ago,MRI Software,"Bangalore, KT"
2,Power BI developer - Remote India,2 days ago,Matchpoint Solutions,Remote
3,Staff Software Engineer - Consumer Trust -P4,6 days ago,Twilio,"Bengaluru, Karnataka, KT"
4,Senior Software Engineer - .Net core & Vue JS ...,+30 days ago,MRI Software,"Bangalore, KT"
5,Software Engineer II - Backend (GoLang) - Beng...,+30 days ago,EagleView Technologies,"Bengaluru, KT"
6,Senior Software Engineer - Consumer Trust -P3,21 days ago,Twilio,"Bengaluru, Karnataka, KT"
7,"Staff, Software Engineer (L4)",30 days ago,Twilio,"Bengaluru, Karnataka, KT"
8,"Software Engineer - .Net - Bangalore, Karnataka",+30 days ago,MRI Software,"Bangalore, KT"
9,"Software Engineer I - C#.net - Bengaluru, Karn...",+30 days ago,EagleView Technologies,"Bengaluru, KT"
10,Software Engineer (L3),+30 days ago,Twilio,"Bengaluru, Karnataka, KT"
11,Senior Software Engineer - (Angular) - Bangalo...,+30 days ago,MRI Software,"Bangalore, KT"
12,"Senior Software Engineer - C#.net - Bengaluru,...",+30 days ago,EagleView Technologies,"Bengaluru, KT"
13,"Technical Support Engineer 3 (Developer, EMEA)",+30 days ago,Twilio,"Bengaluru, Karnataka, KT"
14,"Senior Software Engineer - (.Net) - Bangalore,...",+30 days ago,MRI Software,"Bangalore, KT"
15,Senior Software Engineer - Backend (GoLang/Ja...,+30 days ago,EagleView Technologies,"Bengaluru, KT"
16,"Software Engineer (Progress 4GL) - Bangalore, ...",+30 days ago,MRI Software,"Bangalore, KT"
17,Software Engineer,+30 days ago,Twilio,"Bengaluru, Karnataka, KT"
18,Senior Software Engineer - Fullstack (GoLang/J...,+30 days ago,EagleView Technologies,"Bengaluru, KT"
19,Staff Software Engineer,+30 days ago,Twilio,"Bengaluru, Karnataka, KT"
20,"Software Engineer - (.Net) - Bangalore, Karnataka",+30 days ago,MRI Software,"Bangalore, KT"
21,"Senior Software Engineer - IW - Bengaluru, Kar...",+30 days ago,EagleView Technologies,"Bengaluru, KT"
22,"Senior LAMP Developer - Bangalore, Karnataka",+30 days ago,MRI Software,"Bangalore, KT"
23,Software Engineer - Consumer Trust -P2,+30 days ago,Twilio,"Bengaluru, Karnataka, KT"
24,"Software Engineer - (.Net) - Bangalore, Karnataka",+30 days ago,MRI Software,"Bangalore, KT"

# Assignment no. 10. Write a python program to scrape ‘data scientist’ job listings for location ‘New Delhi’ from ‘Monster.com’. It should include all the jobs listed for the next 5 pages.

In [49]:
# Monster.com has no job listings for Data Scientist in New Delhi. Hence, I am scraping the job listings for Data Scientists in India.
# Note: Monster.com has only four listings for Data Scientists in India as per the observation from below mentioned website.
page=requests.get("https://www.monster.com/jobs/search/?q=data-science&where=india")

In [50]:
soup=BeautifulSoup(page.content,'html.parser')

In [51]:
jobs=[]
Days=[]
Company=[]
Location=[]

In [52]:
job=soup.find_all('h2',class_='title')
for i in job:
    jobs.append(i.text.replace('\r\n',''))

In [53]:
jobs

['Lead Data Scientist - Bengaluru, Karnataka',
 'Senior Data Scientist - Bengaluru, Karnataka',
 'IT JOBS HYDERABAD,TELANAGANA,INDIA',
 'Senior Engineering Manager, Machine Learning']

In [54]:
day=soup.find_all('div',class_='meta flex-col')
for i in day:
    Days.append(i.text.replace('\n','').replace('AppliedSaved',''))

In [55]:
Days

['+30 days ago', '+30 days ago', '+30 days ago', '+30 days ago']

In [56]:
comp=soup.find_all('span',class_='name')
# Even Indices are companies
for i in range(0,len(comp),2):
    Company.append(comp[i].text)

In [57]:
Company

['EagleView Technologies',
 'EagleView Technologies',
 'GENUINE IT JOBS HYDERABAD',
 'Twilio']

In [58]:
# Odd Indices are locations
for i in range(1,len(comp),2):
    Location.append(comp[i].text.replace('\r\n',''))

In [59]:
Location

['Bengaluru, KT',
 'Bengaluru, KT',
 'HYDERABAD,TELANGANA,INDIA, AS',
 'Bengaluru, Karnataka, KT']

In [60]:
import pandas as pd
monster_data_scientist_jobs=pd.DataFrame({})
monster_data_scientist_jobs['jobs']=jobs
monster_data_scientist_jobs['Days']=Days
monster_data_scientist_jobs['Company']=Company
monster_data_scientist_jobs['Location']=Location

In [61]:
monster_data_scientist_jobs

,jobs,Days,Company,Location
0,"Lead Data Scientist - Bengaluru, Karnataka",+30 days ago,EagleView Technologies,"Bengaluru, KT"
1,"Senior Data Scientist - Bengaluru, Karnataka",+30 days ago,EagleView Technologies,"Bengaluru, KT"
2,"IT JOBS HYDERABAD,TELANAGANA,INDIA",+30 days ago,GENUINE IT JOBS HYDERABAD,"HYDERABAD,TELANGANA,INDIA, AS"
3,"Senior Engineering Manager, Machine Learning",+30 days ago,Twilio,"Bengaluru, Karnataka, KT"