# Assignment no. 5- Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
ii) Top 10 ODI Batsmen in men along with the records of their team and rating.
iii) Top 10 ODI bowlers along with the records of their team and rating.

# i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [1]:
# importing the required libraries
from bs4 import BeautifulSoup
import requests

In [2]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

In [3]:
soup=BeautifulSoup(page.content,'html.parser')

In [4]:
teams=[]
matches=[]
points=[]
ratings=[]

In [5]:
team=soup.find_all('span',class_='u-hide-phablet')
for i in team:
    teams.append(i.text)
    teams=teams[:10]

In [6]:
teams

['England',
 'India',
 'New Zealand',
 'Australia',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [7]:
match_top_row=soup.find_all('td',class_='rankings-block__banner--matches')
    #I observed that top row style is different and remaining rows are different
for i in match_top_row:
    matches.append(i.text)
# For remaining 9 teams
match=soup.find_all('td',class_='table-body__cell u-center-text')
# I am using even indices only for Matches. Will use odd ones for Points.
for i in range(0,len(match),2):
    matches.append(match[i].text)
    matches=matches[:10]

In [8]:
matches

['44', '52', '32', '39', '31', '35', '34', '39', '43', '28']

In [9]:
point_top_row=soup.find_all('td',class_='rankings-block__banner--points')
#Similarly, I observed that top row style is different and remaining rows are different
for i in point_top_row:
    points.append(i.text)
# For remaining 9 teams
point=soup.find_all('td',class_='table-body__cell u-center-text')
# I am using odd indices only for Matches. Will use odd ones for Points.
for i in range(1,len(match),2):
    points.append(point[i].text)
    points=points[:10]

In [10]:
points

['5,405',
 '6,102',
 '3,716',
 '4,344',
 '3,345',
 '3,490',
 '2,989',
 '3,297',
 '3,285',
 '1,549']

In [11]:
rating=soup.find_all('td',class_='rankings-block__banner--rating u-text-right')
#Similarly, I observed that top row style is different and remaining rows are different
for i in rating:
    ratings.append(i.text.replace('\n','').replace(' ',''))
# For remaining 9 teams
rating=soup.find_all('td',class_='table-body__cell u-text-right rating')
for i in rating:
    ratings.append(i.text.replace('\n','').replace(' ',''))
    ratings=ratings[:10]

In [12]:
ratings

['123', '117', '116', '111', '108', '100', '88', '85', '76', '55']

In [13]:
import pandas as pd
teams_odi=pd.DataFrame({})
teams_odi['teams']=teams
teams_odi['matches']=matches
teams_odi['points']=points
teams_odi['ratings']=ratings

In [14]:
teams_odi

          teams matches points ratings
0       England      44  5,405     123
1         India      52  6,102     117
2   New Zealand      32  3,716     116
3     Australia      39  4,344     111
4  South Africa      31  3,345     108
5      Pakistan      35  3,490     100
6    Bangladesh      34  2,989      88
7     Sri Lanka      39  3,297      85
8   West Indies      43  3,285      76
9   Afghanistan      28  1,549      55

# ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [17]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")

In [18]:
soup=BeautifulSoup(page.content,'html.parser')

In [19]:
players=[]
teams=[]
ratings=[]

In [20]:
# First row
player=soup.find_all('div',class_='rankings-block__banner--name-large')
for i in player:
    players.append(i.text)
#Next 9 rows
player=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in player:
    players.append(i.find('a').text)
    players=players[:10]

In [21]:
players

['Virat Kohli',
 'Rohit Sharma',
 'Babar Azam',
 'Ross Taylor',
 'Aaron Finch',
 'Francois du Plessis',
 'David Warner',
 'Kane Williamson',
 'Quinton de Kock',
 'Jonny Bairstow']

In [22]:
# First Row
team=soup.find_all('div',class_='rankings-block__banner--nationality')
for i in team:
    teams.append(i.text.replace('\n',''))
# Next 9 Rows
team=soup.find_all('span',class_='table-body__logo-text')
for i in team:
    teams.append(i.text.replace('\n',''))
    teams=teams[:10]

In [23]:
teams

['IND', 'IND', 'PAK', 'NZ', 'AUS', 'SA', 'AUS', 'NZ', 'SA', 'ENG']

In [24]:
# First Row
rating=soup.find_all('div',class_='rankings-block__banner--rating')
for i in rating:
    ratings.append(i.text)
# Next 9 rows
rating=soup.find_all('td',class_='table-body__cell rating')
for i in rating:
    ratings.append(i.text)
    ratings=ratings[:10]

In [25]:
ratings

['870', '842', '837', '818', '791', '790', '773', '765', '755', '754']

In [26]:
import pandas as pd
batsmen_odi=pd.DataFrame({})
batsmen_odi['players']=players
batsmen_odi['teams']=teams
batsmen_odi['ratings']=ratings

In [27]:
batsmen_odi

               players teams ratings
0          Virat Kohli   IND     870
1         Rohit Sharma   IND     842
2           Babar Azam   PAK     837
3          Ross Taylor    NZ     818
4          Aaron Finch   AUS     791
5  Francois du Plessis    SA     790
6         David Warner   AUS     773
7      Kane Williamson    NZ     765
8      Quinton de Kock    SA     755
9       Jonny Bairstow   ENG     754

# iii) Top 10 ODI bowlers along with the records of their team and rating.

In [32]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

In [33]:
soup=BeautifulSoup(page.content,'html.parser')

In [34]:
players=[]
teams=[]
ratings=[]

In [35]:
# First row
player=soup.find_all('div',class_='rankings-block__banner--name-large')
for i in player:
    players.append(i.text)
#Next 9 rows
player=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in player:
    players.append(i.find('a').text)
    players=players[:10]

In [36]:
players

['Trent Boult',
 'Mujeeb Ur Rahman',
 'Jasprit Bumrah',
 'Chris Woakes',
 'Kagiso Rabada',
 'Josh Hazlewood',
 'Mohammad Amir',
 'Pat Cummins',
 'Matt Henry',
 'Jofra Archer']

In [37]:
# First Row
team=soup.find_all('div',class_='rankings-block__banner--nationality')
for i in team:
    teams.append(i.text.replace('\n',''))
# Next 9 Rows
team=soup.find_all('span',class_='table-body__logo-text')
for i in team:
    teams.append(i.text.replace('\n',''))
    teams=teams[:10]

In [38]:
teams

['NZ', 'AFG', 'IND', 'ENG', 'SA', 'AUS', 'PAK', 'AUS', 'NZ', 'ENG']

In [39]:
# First Row
rating=soup.find_all('div',class_='rankings-block__banner--rating')
for i in rating:
    ratings.append(i.text)
# Next 9 rows
rating=soup.find_all('td',class_='table-body__cell rating')
for i in rating:
    ratings.append(i.text)
    ratings=ratings[:10]

In [40]:
ratings

['722', '701', '700', '675', '665', '660', '647', '646', '641', '637']

In [41]:
import pandas as pd
bowlers_odi=pd.DataFrame({})
bowlers_odi['players']=players
bowlers_odi['teams']=teams
bowlers_odi['ratings']=ratings

In [42]:
bowlers_odi

            players teams ratings
0       Trent Boult    NZ     722
1  Mujeeb Ur Rahman   AFG     701
2    Jasprit Bumrah   IND     700
3      Chris Woakes   ENG     675
4     Kagiso Rabada    SA     665
5    Josh Hazlewood   AUS     660
6     Mohammad Amir   PAK     647
7       Pat Cummins   AUS     646
8        Matt Henry    NZ     641
9      Jofra Archer   ENG     637

# 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [44]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

In [45]:
soup=BeautifulSoup(page.content,'html.parser')

In [46]:
teams=[]
matches=[]
points=[]
ratings=[]

In [47]:
team=soup.find_all('span',class_='u-hide-phablet')
for i in team:
    teams.append(i.text)
    teams=teams[:10]

In [48]:
teams

['Australia',
 'India',
 'England',
 'South Africa',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [49]:
match_top_row=soup.find_all('td',class_='rankings-block__banner--matches')
    #I observed that top row style is different and remaining rows are different
for i in match_top_row:
    matches.append(i.text)
# For remaining 9 teams
match=soup.find_all('td',class_='table-body__cell u-center-text')
# I am using even indices only for Matches. Will use odd ones for Points.
for i in range(0,len(match),2):
    matches.append(match[i].text)
    matches=matches[:10]

In [50]:
matches

['15', '15', '14', '16', '15', '12', '12', '5', '11', '2']

In [51]:
point_top_row=soup.find_all('td',class_='rankings-block__banner--points')
#Similarly, I observed that top row style is different and remaining rows are different
for i in point_top_row:
    points.append(i.text)
# For remaining 9 teams
point=soup.find_all('td',class_='table-body__cell u-center-text')
# I am using odd indices only for Matches. Will use odd ones for Points.
for i in range(1,len(match),2):
    points.append(point[i].text)
    points=points[:10]

In [52]:
points

['2,436',
 '1,812',
 '1,670',
 '1,713',
 '1,384',
 '1,025',
 '927',
 '306',
 '519',
 '25']

In [53]:
rating=soup.find_all('td',class_='rankings-block__banner--rating u-text-right')
#Similarly, I observed that top row style is different and remaining rows are different
for i in rating:
    ratings.append(i.text.replace('\n','').replace(' ',''))
# For remaining 9 teams
rating=soup.find_all('td',class_='table-body__cell u-text-right rating')
for i in rating:
    ratings.append(i.text.replace('\n','').replace(' ',''))
    ratings=ratings[:10]

In [54]:
ratings

['162', '121', '119', '107', '92', '85', '77', '61', '47', '13']

In [55]:
import pandas as pd
women_teams_odi=pd.DataFrame({})
women_teams_odi['teams']=teams
women_teams_odi['matches']=matches
women_teams_odi['points']=points
women_teams_odi['ratings']=ratings

In [56]:
women_teams_odi

          teams matches points ratings
0     Australia      15  2,436     162
1         India      15  1,812     121
2       England      14  1,670     119
3  South Africa      16  1,713     107
4   New Zealand      15  1,384      92
5   West Indies      12  1,025      85
6      Pakistan      12    927      77
7    Bangladesh       5    306      61
8     Sri Lanka      11    519      47
9       Ireland       2     25      13

# ii) Top 10 women’s ODI players along with the records of their team and rating.

In [57]:
# As the question is ambiguous regarding women ODI players. Hence, I am assuming that it is batswomen.
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")

In [58]:
soup=BeautifulSoup(page.content,'html.parser')

In [59]:
players=[]
teams=[]
ratings=[]

In [60]:
# First row
player=soup.find_all('div',class_='rankings-block__banner--name-large')
for i in player:
    players.append(i.text)
#Next 9 rows
player=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in player:
    players.append(i.find('a').text)
    players=players[:10]

In [61]:
players

['Meg Lanning',
 'Stafanie Taylor',
 'Alyssa Healy',
 'Smriti Mandhana',
 'Amy Satterthwaite',
 'Tammy Beaumont',
 'Ellyse Perry',
 'Lizelle Lee',
 'Laura Wolvaardt',
 'Mithali Raj']

In [62]:
# First Row
team=soup.find_all('div',class_='rankings-block__banner--nationality')
for i in team:
    teams.append(i.text.replace('\n',''))
# Next 9 Rows
team=soup.find_all('span',class_='table-body__logo-text')
for i in team:
    teams.append(i.text.replace('\n',''))
    teams=teams[:10]

In [63]:
teams

['AUS', 'WI', 'AUS', 'IND', 'NZ', 'ENG', 'AUS', 'SA', 'SA', 'IND']

In [64]:
# First Row
rating=soup.find_all('div',class_='rankings-block__banner--rating')
for i in rating:
    ratings.append(i.text)
# Next 9 rows
rating=soup.find_all('td',class_='table-body__cell rating')
for i in rating:
    ratings.append(i.text)
    ratings=ratings[:10]

In [65]:
ratings

['749', '746', '741', '732', '723', '716', '691', '690', '689', '687']

In [66]:
import pandas as pd
batswomen_odi=pd.DataFrame({})
batswomen_odi['players']=players
batswomen_odi['teams']=teams
batswomen_odi['ratings']=ratings

In [67]:
batswomen_odi

             players teams ratings
0        Meg Lanning   AUS     749
1    Stafanie Taylor    WI     746
2       Alyssa Healy   AUS     741
3    Smriti Mandhana   IND     732
4  Amy Satterthwaite    NZ     723
5     Tammy Beaumont   ENG     716
6       Ellyse Perry   AUS     691
7        Lizelle Lee    SA     690
8    Laura Wolvaardt    SA     689
9        Mithali Raj   IND     687

# iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [68]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")

In [69]:
soup=BeautifulSoup(page.content,'html.parser')

In [70]:
players=[]
teams=[]
ratings=[]

In [71]:
# First row
player=soup.find_all('div',class_='rankings-block__banner--name-large')
for i in player:
    players.append(i.text)
#Next 9 rows
player=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in player:
    players.append(i.find('a').text)
    players=players[:10]

In [72]:
players

['Ellyse Perry',
 'Stafanie Taylor',
 'Marizanne Kapp',
 'Deepti Sharma',
 'Dane van Niekerk',
 'Jess Jonassen',
 'Sophie Devine',
 'Natalie Sciver',
 'Shikha Pandey',
 'Katherine Brunt']

In [73]:
# First Row
team=soup.find_all('div',class_='rankings-block__banner--nationality')
for i in team:
    teams.append(i.text.replace('\n',''))
# Next 9 Rows
team=soup.find_all('span',class_='table-body__logo-text')
for i in team:
    teams.append(i.text.replace('\n',''))
    teams=teams[:10]

In [74]:
teams

['AUS', 'WI', 'SA', 'IND', 'SA', 'AUS', 'NZ', 'ENG', 'IND', 'ENG']

In [75]:
# First Row
rating=soup.find_all('div',class_='rankings-block__banner--rating')
for i in rating:
    ratings.append(i.text)
# Next 9 rows
rating=soup.find_all('td',class_='table-body__cell rating')
for i in rating:
    ratings.append(i.text)
    ratings=ratings[:10]

In [76]:
ratings

['460', '410', '389', '359', '335', '301', '289', '273', '250', '232']

In [77]:
import pandas as pd
women_allrounders_odi=pd.DataFrame({})
women_allrounders_odi['players']=players
women_allrounders_odi['teams']=teams
women_allrounders_odi['ratings']=ratings

In [78]:
women_allrounders_odi

            players teams ratings
0      Ellyse Perry   AUS     460
1   Stafanie Taylor    WI     410
2    Marizanne Kapp    SA     389
3     Deepti Sharma   IND     359
4  Dane van Niekerk    SA     335
5     Jess Jonassen   AUS     301
6     Sophie Devine    NZ     289
7    Natalie Sciver   ENG     273
8     Shikha Pandey   IND     250
9   Katherine Brunt   ENG     232